.home-page {
  background: #61dbfb;
}
.home {
  color: #20232a;
  font-family: Arial, sans-serif;
  margin: 20px;
}
.inside-home {
  font-size: 18px;
  padding-left: 80px;
}

.about-page {
  background: #282c34;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}
.about{
  margin-top: 0px;
  font-size: 18px;
  line-height: 0.1;
}
.inside-about {
  font-size: 16px;
  padding-left: 60px;
}